(setq local-competitive-programming-note-file '"TODO-path to competitive programming file inside notes")
(setq local-clippings-file '"TODO-path to clippings file inside notes")
(setq org-agenda-files '("TODO-path-to-org-file" "TODO-path-to-folder-containing-org-files"))
(setq notes-directory '"TODO-path to notes directory")
(setq load-org-ref nil)
(setq local/load-blog-capture-template nil)
(setq blog-location '"TODO-path to blog directory")
(setq local-time-maintenance-file '"TODO-path to time maintenance file inside the notes directory")
